@font-face {
    font-family: myFirstFont;
    src: url(whitfield/Whitfield.otf);
}
h1, h2, h3, h4, h5, h6 {
    font-family: myFirstFont;
    color: #000000;
    padding: 0px; margin: 0px;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.norm1, .norm2 {
    font-family: Arial;
}
.script1 {
    font-family: myFirstFont;
}
.script2 {
    font-family: myFirstFont;
    font-size: 30px;
}
body{
    text-align: center;
}
a{
    color: #000000;
}